{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="card text-white bg-primary mb-3" style="max-width: 30rem; margin-top: 1rem; margin-left: 30rem;">
    <div class="card-header"> <i class="fa-solid fa-arrows-left-right"> Change Password</i></div>

    <div class="card-body">
        <!-- Opening the form tag with the "post" method -->
        <form method="post">
            {% csrf_token %}
            <!-- Render the form fields as paragraph elements -->
            {{forms.as_p}}
            <!-- Create a submit button -->
            <button type="submit" class="btn btn-success">
                <i class="fa-regular fa-circle-check" style="color: black;"> change password</i>
            </button>
        </form>
    </div>
</div>
{% endblock %}
