{% extends 'base.html' %}
{% load static %}

{% block body %}

    <!-- Opening the card div with Bootstrap styling -->
    <div class="card text-white bg-primary mb-3" style="max-width: 30rem; margin-top: 10px; margin-left: 550px;">
        <div class="card-header">Edit Task</div>
        <div class="card-body">
            <!-- Opening the form tag with the "post" method -->
            <form method="post">
                {% csrf_token %}
                <!-- Render the form fields as paragraph elements -->
                {{forms.as_p}}
                <!-- Create a submit button -->
                <button type="submit" class="btn btn-success">
                    <i class="fa-regular fa-circle-check" style="color: black;"> Submit</i>
                </button>
            </form>
            <button type="button" class="btn btn-secondary" style="margin-top: 10px;"><a href="{% url 'view_task' task.id %}"><i class="fa-regular fa-circle-left" style="color: black;"> Back</i></a></button>
        </div>
    </div>

{% endblock %}
