{% extends 'base.html' %}
{% load static %}
{% block body %}

{% if messages %}
    <div class="alert alert-dismissible alert-primary">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <!-- Check if there are any messages to display -->
        {% for message in messages %}
            {{ message }}
        {% endfor %}
      </div>
{% endif %}

    <!-- Check if there are any tasks -->
    {% if tasks %}

        <!-- Display tasks in a table -->
        <table class="table table-hover" style="margin-top: 30px;">
            <thead>
              <tr>
                <th scope="col"><i class="fa-solid fa-box-archive"></i></th>
                <th scope="col">Task Name</th>
                <th scope="col">Assigned Name</th>
                <th scope="col">Date Assigned</th>
                <th scope="col">Date Due</th>
                <th scope="col">Task Importance</th>
                <th scope="col">Completion Status</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            {% for Task in tasks %}
            <tbody>
            <tr class="table-primary">
                <th scope="row"><i class="fa-regular fa-circle"></i></i></th>
                <td>{{ Task.task_name }}</td>
                <td>{{ Task.assigned_name }}</td>
                <td>{{ Task.date_assigned }}</td>
                <td>{{ Task.date_due }}</td>
                <td>{{ Task.task_importance }}</td>
                <td>{{ Task.completion_status }}</td>
                <td>
                    <button class="btn btn-success">
                        <a href="{% url 'view_task' Task.id %}"><i class="fa-regular fa-folder-open" style="color: black;"> Open</i></a>
                    </button>  &nbsp; 
                    <form method="post" action="{% url 'delete_task' Task.id %}" style="margin-top: 10px;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger delete-task" style="margin-bottom: 5px;">
                            <i class="fa-regular fa-trash-can delete-icon" style="color: black;"> Delete</i>
                        </button>
                    </form>
                </td>

              </tr>
            </tbody>
            {% endfor %}
          </table>

    {% else %}

        <!-- Display a message when there are no tasks -->
        <table class="table table-hover" style="margin-top: 30px;">
            <thead>
            <tr>
                <th scope="col"><i class="fa-solid fa-box-archive"></i></th>
                <th scope="col">Task Name</th>
                <th scope="col">Assigned Name</th>
                <th scope="col">Date Assigned</th>
                <th scope="col">Date Due</th>
                <th scope="col">Task Importance</th>
                <th scope="col">Completion Status</th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-success">
                <th scope="row"><i class="fa-regular fa-circle"></i></i></th>
                <td>No Data</td>
                <td>No Data</td>
                <td>No Data</td>
                <td>No Data</td>
                <td>No Data</td>
                <td>No Data</td>
            </tr>
            </tbody>
        </table>

    {% endif %}

{% endblock %}