{% extends 'base.html' %}
{% load static %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            {% if messages %}
            {% for text in messages %}
                <div class="card border-primary mb-3" style="max-width: 20rem; margin-top: 1rem;">
                    <div class="card-header"><i class="fa-regular fa-user"> {{ text.username }}</i></div>
                    <div class="card-body">
                        <p class="card-text">{{ text.message }}</p>
                    </div>
                    <form method="post" action="{% url 'delete_message' text.id %}" style="margin-top: 10px;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger delete-task" style="margin-bottom: 5px;">
                            <i class="fa-regular fa-trash-can delete-icon" style="color: black;"> Delete</i>
                        </button>
                    </form>
                </div>
            {% endfor %}
            {% else %}
                <div class="card border-primary mb-3" style="max-width: 20rem; margin-top: 1rem;">
                    <div class="card-header"><i class="fa-regular fa-user"> None</i></div>
                    <div class="card-body">
                        <p class="card-text">{{ text.message }}</p>
                    </div>
                </div>
            {% endif %}        
        </div>
        <div class="col-md-4">
            <!-- Opening the card div with Bootstrap styling -->
            <div class="card text-white bg-primary mb-3" style="max-width: 30rem; margin-top: 1rem;">
                <div class="card-header"><i class="fa-regular fa-message"></i></div>
                <div class="card-body">
                    <!-- Opening the form tag with the "post" method -->
                    <form method="post">
                        {% csrf_token %}
                        <!-- Render the form fields as paragraph elements -->
                        {{forms.as_p}}
                        <!-- Create a submit button -->
                        <button type="submit" class="btn btn-success">
                            <i class="fa-regular fa-circle-check" style="color: black;"> Send</i>
                        </button>
                    </form>
                    <button type="button" class="btn btn-secondary" style="margin-top: 10px;"><a href="{% url 'index' %}"><i class="fa-regular fa-circle-left" style="color: black;"> Back</i></a></button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active" style="margin-top: 1rem;">
                    <i class="fa-solid fa-house-user" style="color: whitesmoke;"> Team Members</i>
                </a>
            </div>
           

            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {% if user %}
                    <ul>
                        {% for user in user %}
                        <li>{{ user.username }}</li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p>No users registered yet.</p>
                    {% endif %}

                </li>
              </ul>

        </div>
    </div>
</div>

{% endblock %}
